{
    "cors": {
      "allowed": [
        "https://example.com"
      ]
    },
    "db": {
      "default": "mysql",
      "mysql": {
        "driver": "mysql",
        "host": "192.168.1.1",
        "database": "db1",
        "username": "{{ lookup('hashivault', '/secret/{{ env }}/mysql', 'user') }}",
        "password": "{{ lookup('hashivault', '/secret/{{ env }}/mysql', 'password') }}",
        "charset": "utf8",
        "collation": "utf8_unicode_ci",
        "prefix": ""
      },
      "mongo": {
        "driver": "mongodb",
        "host": "localhost",
        "port": 27017,
        "database": "db",
        "username": "{{ lookup('hashivault', '/secret/{{ env }}/mongo', 'user') }}",
        "password": "{{ lookup('hashivault', '/secret/{{ env }}/mongo', 'password') }}",
        "options": {
          "database": "db"
        }
      }
    },
    "spa_hostname": "myspa"
}
